:root{
    --clr-white: hsl(0, 0%, 100%);
--clr-stone-100: hsl(30, 54%, 90%);
--clr-stone-150: hsl(30, 18%, 87%);
--clr-stone-600: hsl(30, 10%, 34%);
--clr-stone-900: hsl(24, 5%, 18%);
--clr-brown-800: hsl(14, 45%, 36%);
--clr-rose-800: hsl(332, 51%, 32%);
--clr-rose-50: hsl(330, 100%, 98%);
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    background-color: var(--clr-stone-100);
    font-size: 16px;
    font-family: 'Outfit';
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--clr-white);
    width: 750px;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

figure {
    margin: 0;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.subtitle {
    color: var(--clr-brown-800);
}

.preparation {
    background-color: var(--clr-rose-50);
    border-radius: 15px;
    padding:20px;
    width: 100%;
    font-weight: 600;
    color: var(--clr-stone-600);
}
.preparation span {
    font-weight: 400;
}
.preparation li {
    margin-bottom: 10px;
    padding-left: 20px;
}
.preparation ul {
    padding: 0 15px;
}
h3 {
    color: var(--clr-rose-800);
    margin: 0px;
    font-family: 'Outfit';
}

h1 {
    font-family: 'Young Serif';
    margin: 15px 0px;
    font-weight: 400;
}
h2 {
    font-family: 'Young Serif';
}


hr {
    color: var(--clr-stone-150);
    opacity: 30%;
    height: 1px;
    width: 100%;
    margin: 10px 0px;
}


li{
    padding-bottom: 10px;
}

.card-section {
    width:100%;
    padding: 0px;
    color: var(--clr-stone-600);
    font-weight: 400;
}
.card-section li {
    padding-left: 20px;
    margin-bottom: 0px;
}
.card-section ul,
.card-section ol {
    margin-left:-20px;
}

.card-section li::marker {
    color: var(--clr-brown-800);
    font-weight: 600;
}

.action {
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;

  }

tr,td {
    border-bottom: 1px solid #ddd;
    padding: 15px 30px;
}

.spec {
    font-weight: 600;
    color: var(--clr-brown-800);
}

.card-intro {
    color: var(--clr-stone-600);
    margin-bottom: 20px;
}

tr:last-child,
td:nth-last-child(2),
td:last-child{
    border-bottom: none;
}

@media only screen and (max-width: 375px){
    .container {
        margin-top: 0px;
    }

    .card {
        border-radius: 0px;
        padding-top: 0px;
        /* width: 100vw; */
    }
    .card-content{
        padding-inline: 20px;
    }
    img {
        width: 100vw;
        height: 100%;
        object-fit: fill;
        border-radius: 0px;
    }

}